footer{
    background-color: #f2828d;
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin-top: 60px;
}

footer div{
    margin: auto 100px;
}

footer ul{
    display: flex;
}

footer ul li{
    padding: 0 14px;
}

footer ul li a{
    color: white;
}