*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    text-decoration: none;
    list-style: none;
    font-family: Lato, sans-serif;
}

html{
    scroll-behavior: smooth;
}

header i{
    padding: 50px 10px;
    font-size: 23px;
    color: white;
    cursor: pointer;
}

header i:hover{
    color: wheat;
}